body{
    background-color: #222;
    color: #fff;
    min-height: 100vh;
}

main{
    display: grid;
    justify-content: center;
    justify-self: center;
}

nav{
    div{
        .cust-pad{
            padding: 0rem 0rem;
        }
    }
}

main{
    padding: 1rem;
}

.body-head{
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 2rem;
    & > * {
        display: grid;
        justify-content: center;
    }
}

.input-field{
    min-height: 10vh;
    display: grid;
    & > div{
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-template-columns: 2fr 1fr;
        column-gap: 1rem;
        & > input{
            margin: 0 !important;
        }
    }
}

#in1{
    background-color: honeydew;
    height: 2.5rem;
    font-size: 1rem;
    padding-left: .5rem;
    border-radius: 5rem 0rem 0rem 5rem;
}

#in2{
    border-radius: 0rem 5rem 5rem 0rem;
}

#outDest{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
}

.secHeader{
    display: grid;
    grid-column: 1 / span 1;
}

.displayCard{
    width: 95%;
    max-width: 80vw;
    display: grid;
    border-radius: .5rem;
    justify-content: center;
    background-color: #ddd;
    color: #222;
    margin: 1rem;
    padding: 1rem;
    &:hover{
        background-color: #ccc;
    }
    &:active{
        background-color: #aaa;
    }
    .bottom_bar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        & > *{
            grid-column: auto;
        }
        i{
            justify-self: end;
        }
        .hide{
            display: none;
        }
    }
}